name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        pylint --disable=import-error,missing-module-docstring,missing-class-docstring,missing-function-docstring,too-many-instance-attributes,too-many-return-statements,too-many-branches,line-too-long,unused-variable,unused-import,unused-argument,inconsistent-return-statements,duplicate-code,unnecessary-pass,missing-final-newline $(git ls-files '*.py')
